<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!--폰트어썸-->
    <script src="https://kit.fontawesome.com/f3c9d07c5d.js"></script>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <!-- AOS animation css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>


    <footer>
        <div class="center_box_1260 ma_c">
            <h1>
                <img src="images/logo_footer.jpg" alt="">
            </h1>
            <address>
                연세미금내과 | 주소 : 성남시 분당구 금곡동 155번지 우방코어 5층 (돌마로 73번지) 미금역 2번출구 신한은행건물 5층<br>
                대표 : 심완섭 | 사업자 : 연세미금내과의원 | 사업자번호 : 129-92-20961 | Tel. 031-717-8175 | Fax. 031-717-8155<br>
                Copyright © 2023 http://yonseimk.com All Rights Reserved. W3C
            </address>
        </div>
    </footer>


</body>
</html>