<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>병원</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>
            <a href="#">
                <img src="images/logo.jpg" alt="">
            </a>
        </h1>

        <nav>
            <ul>
                <li><a href="#">병원소개</a>
                    <ul class="lnb">
                        <li><a href="#">인사말씀</a></li>
                        <li><a href="#">진료시간</a></li>
                        <li><a href="#">내부시설</a></li>
                        <li><a href="#">오시는 길</a></li>
                        <li><a href="#">비급여 수가</a></li>
                    </ul>
                </li>
                <li><a href="#">진료안내</a>
                    <ul class="lnb">
                        <li><a href="#">고혈압</a></li>
                        <li><a href="#">당뇨병</a></li>
                        <li><a href="#">이상지질혈증</a></li>
                        <li><a href="#">소화기 질환</a></li>
                        <li><a href="#">간담도췌장질환</a></li>
                        <li><a href="#">호흡기 질환</a></li>
                        <li><a href="#">신장 질환</a></li>
                        <li><a href="#">갑상선 질환</a></li>
                    </ul>
                </li>
                <li><a href="#">검사안내</a>
                    <ul class="lnb">
                        <li><a href="#">일반검사</a></li>
                        <li><a href="#">초음파검사</a></li>
                        <li><a href="#">내시경검사</a></li>
                        <li><a href="#">골밀도검사</a></li>
                    </ul>
                </li>
                <li><a href="#">검진안내</a></li>
                <li><a href="#">예방접종</a></li>
                <li><a href="#">수액&#183;금연치료</a>
                    <ul class="lnb">
                        <li><a href="#">협력병원</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="side">
            <a href="#">공지사항</a>
            <a href="#">사이트맵</a>
        </div>
    </header>


    <div id="visual">


        <ul class="quick">
            <li>
                <a href="#">
                    <figure><img src="images/quick01.png" alt="내과 일반"></figure>
                    <p>내과 일반</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="images/quick02.png" alt="위내시경 검사"></figure>
                    <p>위내시경 검사</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><img src="images/quick03.png" alt="초음파 검사"></figure>
                    <p>초음파 검사</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><img src="images/quick04.png" alt="골밀도 검사"></figure>
                    <p>골밀도 검사</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><img src="images/quick05.png" alt="예방 접종"></figure>
                    <p>예방 접종</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><img src="images/quick06.png" alt="수액 치료"></figure>
                    <p>수액 치료</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><img src="images/quick07.png" alt="금연 치료"></figure>
                    <p>금연 치료</p>
                </a>
            </li>
        </ul>
    </div>


    <section id="section_box">
        <section class="disease">
            <ul>
                <li>
                    <figure><img src="images/sec1_img1.jpg" alt=""></figure>
                    <h3>고혈압</h3>
                    <p>대부분의 고혈압은 증상이 없습니다. 혈압을 주기적으로 측정하는 것 이외에는 달리 알 수 있는 방법이 없습니다.</p>
                    <a href="#">자세히보기</a>
                </li>
                <li>
                    <figure><img src="images/sec1_img2.jpg" alt=""></figure>
                    <h3>당뇨병</h3>
                    <p>대부분의 고혈압은 증상이 없습니다. 혈압을 주기적으로 측정하는 것 이외에는 달리 알 수 있는 방법이 없습니다.리 알 수 있는 방법이 없습니다리 알 수 있는 방법이 없습니다</p>
                    <a href="#">자세히보기</a>
                </li>
                <li>
                    <figure><img src="images/sec1_img3.jpg" alt=""></figure>
                    <h3>이상지질혈증</h3>
                    <p>대부분의 고혈압은 증상이 없습니다. 혈압을 주기적으로 측정하는 것 이외에는 달리 알 수 있는 방법이 없습니다.</p>
                    <a href="#">자세히보기</a>
                </li>
            </ul>
        </section>

        <section class="info">
            <ul>
                <li class="big">
                    <div class="time">
                        <strong>상담 및 예약<br>
                            전화 : 031-714-7787</strong>
                        <ul>
                            <li class="tit">
                                <span>평 일</span>
                                <span>토 요 일</span>
                                <span>점 심 시 간</span>
                            </li>
                            <li class="cont">
                                오전 9시부터 오후 6시 30분까지<br>
                                오전 9시부터 오후 1시까지<br>
                                오후 1시부터 오후 2시까지<br>
                                <span>* 토요일은 점심시간 없음</span>
                            </li>
                            <li class="dayoff">
                                <b>휴진</b>
                                <p>일요일, 공휴일</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <figure><img src="images/sec2_ico1.png" alt=""></figure>
                    <h3>꼭 필요한 진료</h3>
                    <p>환자의  말에 귀기울여 소통하는 의사가 되어 환자의 입장에서 꼭 필요한 진료를 하겠습니다</p>
                </li>
                <li>
                    <figure><img src="images/sec2_ico2.png" alt=""></figure>
                    <h3>궁금증을 해소해주는 설명</h3>
                    <p>다년간의 진료 및 연구경력을 바탕으로 한  의학지식과 노하우를  환자의 눈높이에서 해소해 드리도록 하겠습니다.</p>
                </li>

                <li class="big map">
                    <!--
                        * 카카오맵 - 약도서비스
                        * 한 페이지 내에 약도를 2개 이상 넣을 경우에는
                        * 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
                    -->
                    <!-- 1. 약도 노드 -->
                    <div id="daumRoughmapContainer1688367539811" class="root_daum_roughmap root_daum_roughmap_landing"></div>

                    <!-- 2. 설치 스크립트 -->
                    <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                    <!-- 3. 실행 스크립트 -->
                    <script charset="UTF-8">
                        new daum.roughmap.Lander({
                            "timestamp" : "1688367539811",
                            "key" : "2fe24",
                            "mapWidth" : "620",
                            "mapHeight" : "280"
                        }).render();
                    </script>
                </li>
                <li>
                    <figure><img src="images/sec2_ico3.png" alt=""></figure>
                    <h3>의지할 수 있는 전문성</h3>
                    <p>아프고 힘들 때 생각나는 환자들의 따뜻한 이웃, 믿을 수 있는 주치의가 되겠습니다.</p>
                </li>
                <li>
                    <figure><img src="images/sec2_ico4.png" alt=""></figure>
                    <h3>믿음직한 주치의</h3>
                    <p>건강에 대해 함께 고민하고
                        아픔을 공감하는 의사가 되고자 합니다</p>
                </li>
            </ul>
        </section>
    </section>

    
    <footer></footer>


    <script src="script/jquery-3.7.0.min.js"></script>
    <script src="script/action.js"></script>
</body>
</html>