<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header1</title>
    <link rel="stylesheet" href="/DOONOPI_CODE/css/dunopi_pub.css">
    <link rel="stylesheet" href="css/duno_m_header1.css" media="screen and (max-width:768px)">
    <script src="script/dunopi_script.js"></script>
</head>
<body>
    <header id="header1">
        <div class="center_box_1400 autoHeight">
            <h1>
                <a href="#">
                    <!-- <img src="images/img_none.jpg" alt="img_none"> -->
                    <img src="images/logo.png" alt="">
                </a>
            </h1>
            
            <nav>
                <ul>
                    <li><a href="#">COMPANY</a>
                        <ul class="lnb">
                            <li><a href="#">submenu1</a></li>
                            <li><a href="#">submenu2</a></li>
                            <li><a href="#">submenu3</a></li>
                            <li><a href="#">submenu4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BUSINESS</a>
                        <ul class="lnb">
                            <li><a href="#">submenu1</a></li>
                            <li><a href="#">submenu2</a></li>
                            <li><a href="#">submenu3</a></li>
                            <li><a href="#">submenu4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">PRODUCTS</a>
                        <ul class="lnb">
                            <li><a href="#">submenu1</a></li>
                            <li><a href="#">submenu2</a></li>
                            <li><a href="#">submenu3</a></li>
                            <li><a href="#">submenu4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">SERVICE</a>
                        <ul class="lnb">
                            <li><a href="#">submenu1</a></li>
                            <li><a href="#">submenu2</a></li>
                            <li><a href="#">submenu3</a></li>
                            <li><a href="#">submenu4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BOARD</a>
                        <ul class="lnb">
                            <li><a href="#">submenu1</a></li>
                            <li><a href="#">submenu2</a></li>
                            <li><a href="#">submenu3</a></li>
                            <li><a href="#">submenu4</a></li>
                        </ul>
                    </li>
                </ul>
                
                <i class="xi-bars"></i>
                
            </nav>

            <i class="xi-star"></i>

            <div class="topmenu">
                <a href="#">LOGIN</a>
                <a href="#">SIGN UP</a>
                <a href="#" class="call">
                    <i class="xi-call"></i> 010) 3321-7317
                </a>
            </div>
        </div>
    </header>
    
    
</body>
</html>