<section class="info">
    <ul>
        <li class="big">
            <div class="time">
                <strong>상담 및 예약<br>
                    전화 : 031-714-7787</strong>
                <ul>
                    <li class="tit">
                        <span>평 일</span>
                        <span>토 요 일</span>
                        <span>점 심 시 간</span>
                    </li>
                    <li class="cont">
                        오전 9시부터 오후 6시 30분까지<br>
                        오전 9시부터 오후 1시까지<br>
                        오후 1시부터 오후 2시까지<br>
                        <span>* 토요일은 점심시간 없음</span>
                    </li>
                    <li class="dayoff">
                        <b>휴진</b>
                        <p>일요일, 공휴일</p>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <figure><img src="images/sec2_ico1.png" alt=""></figure>
            <h3>꼭 필요한 진료</h3>
            <p>환자의  말에 귀기울여 소통하는 의사가 되어 환자의 입장에서 꼭 필요한 진료를 하겠습니다</p>
        </li>
        <li>
            <figure><img src="images/sec2_ico2.png" alt=""></figure>
            <h3>궁금증을 해소해주는 설명</h3>
            <p>다년간의 진료 및 연구경력을 바탕으로 한  의학지식과 노하우를  환자의 눈높이에서 해소해 드리도록 하겠습니다.</p>
        </li>

        <li class="big map">
            <!--
                * 카카오맵 - 약도서비스
                * 한 페이지 내에 약도를 2개 이상 넣을 경우에는
                * 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
            -->
            <!-- 1. 약도 노드 -->
            <div id="daumRoughmapContainer1688367539811" class="root_daum_roughmap root_daum_roughmap_landing"></div>

            <!-- 2. 설치 스크립트 -->
            <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

            <!-- 3. 실행 스크립트 -->
            <script charset="UTF-8">
                new daum.roughmap.Lander({
                    "timestamp" : "1688367539811",
                    "key" : "2fe24",
                    "mapWidth" : "620",
                    "mapHeight" : "280"
                }).render();
            </script>
        </li>
        <li>
            <figure><img src="images/sec2_ico3.png" alt=""></figure>
            <h3>의지할 수 있는 전문성</h3>
            <p>아프고 힘들 때 생각나는 환자들의 따뜻한 이웃, 믿을 수 있는 주치의가 되겠습니다.</p>
        </li>
        <li>
            <figure><img src="images/sec2_ico4.png" alt=""></figure>
            <h3>믿음직한 주치의</h3>
            <p>건강에 대해 함께 고민하고
                아픔을 공감하는 의사가 되고자 합니다</p>
        </li>
    </ul>
</section>


<script src="script/jquery-3.7.0.min.js"></script>
<script src="script/action.js"></script>